:root {
  --main-color: #325c6a;
  --secondary-color: #0cadac;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}



/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;

  }

}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

.container {
  padding: calc(10px + 2vw);
  margin: auto;

}

/* End Global Rules */

/* start header  */

.background-img {

  background-image: url("img/bg-banner.jpg");

  background-size: cover;

  background-position: center;
}

.cover-color {

  height: 100vh;
  background: linear-gradient(rgba(61, 106, 117, 0.75), rgba(50, 96, 109, 0.75));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(10px + 5vw);
}

.navbar {
  display: flex;
  justify-content: space-between;

}


header nav ul {
  display: flex;

}

header nav ul li {
  display: inline-block;
  font-size: calc(5px + 1vw);

  padding-top: 20px;

}

header nav ul a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.navbar img {
  width: calc(80px + 10vw);
  height: calc(20px + 5vh);
  margin: 10px;
  padding-left: 3vw;
}

@media(max-width:768px) {

  .navbar nav ul {
    display: none;
  }

  i.toggle-menu {
    color: white;
    font-size: 2em;
    padding: 15px
  }

  .navbar .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;

    right: 20px;
    background-color: rgba(0, 0, 0, 0.362);

  }

  header ul::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.362) transparent;
    position: absolute;
    right: 0px;
    top: -28px;

  }

  header ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }

  header ul li:not(:last-child) a {
    border-bottom: 1px solid #333;

  }

  .navbar ul li {
    padding: 5px;
  }

  .navbar ul a:hover {
    padding-left: 5px;
  }

}

@media(min-width:769px) {
  i.toggle-menu {
    display: none;
  }
}

header .container {

  color: white;
  display: flex;
  flex-direction: column;
  gap: calc(10px + 1vh);
  margin: auto;

}

header .container img {
  width: calc(100px + 20vw);
  margin: auto;
  position: relative;
  left: 15px;
}

header .container h2,
header .container p {
  width: clamp(200px, 50vw, 2000px);
  margin: auto;

  text-align: center;
}

header .container button {
  width: 40%;
  position: relative;
  margin: auto;
  background-color: var(--secondary-color);
  color: white;
  width: calc(100px + 20vw);
  padding: calc(10px + 1vw);
  font-size: calc(15px + 0.8vw);
}

.navbar ul .active,
.navbar ul a:hover {
  background: linear-gradient(rgba(50, 123, 132, 0.5), rgba(23, 132, 131, 0.5));

}


/* end header  */

/* start services */

.services .container:first-child {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}

.services .container .column {

  margin: 40px 20px 20px 20px;
}

@media(max-width:768px) {
  .services .container:first-child {

    grid-template-columns: 1fr;
  }
}

.column div {
  margin: 40px 10px;
}

.icon {
  font-size: 50px;
  color: #0cadac;
  position: relative;
  bottom: 30px;

}

.one .orange {
  color: #ffb737;
  font-size: 40px;
  position: relative;
  bottom: 10px;
}

.services .container .column p,
.services .container .parg p {
  color: gray;
}

.services .table {
  display: flex;
  column-gap: 2px;

  padding: 20px;
  width: 750px;

  margin: auto;
  text-align: center;


}

.services .table .cell {
  background-color: #0cadac;
  color: white;
  padding: 20px;
  text-align: center;
  height: 250px;
  font-size: 14px;

  width: 250px;
  margin: 1px;
  max-width: 500px;

}

@media(max-width:820px) {
  .services .table {
    width: auto;
    flex-direction: column;
  }

  .services .table .cell {
    margin: 1px auto;
    width: 80vw;
  }

}

@media(max-width:280px) {
  .services .table .cell {
    width: 70vw;
    height: 300px;
  }
}

.services .table .cell button {
  margin: 20px;
  padding: 4px;
  position: relative;
  top: 50px;
  background-color: #0cadac;
  color: white;
  border: 2px solid white;
}

.services .table .cell table {
  border: 1px solid #333;
  margin: auto;
  height: 60%;

}

.services .table .cell table {
  border-top: 1px solid #ccc;
}

.services .table .cell table td {
  border-bottom: 1px solid #ccc;
}


.services .table .cell p span {
  display: none;
}

.services .container:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 60px;

}

.services .container:nth-child(3) .one a {
  color: var(--secondary-color);
  text-decoration: none;
}

.services .container:nth-child(3) .one p span {
  display: none;
}

.services .container .itsSomething {
  position: relative;
  top: 50px;
}

.services .container .itsSomething h3,
.services .container .itsSomething p {
  margin: 20px;
  position: relative;
}

.services .container .itsSomething h3 .before {
  background-color: var(--secondary-color);
  border-width: 25px;
  border-style: solid;
  border-radius: 50%;
  border-color: var(--secondary-color);
  position: absolute;
  left: -80px;
  top: -14px;
}

.services .container .itsSomething h3 .before::before {
  content: ">";
  color: white;
  position: absolute;
  top: -10px;
  left: -5px;
}

@media(max-width:768px) {
  .services .container:nth-child(3) {
    grid-template-columns: 1fr;
  }

  .services .container .itsSomething {
    margin-left: 50px;
  }

  .services .container .itsSomething h3 .before {
    left: -70px;
  }
}

@media(max-width:400px) {
  .services .container .itsSomething {
    margin-left: 40px;
  }

  .services .container .itsSomething h3 .before {
    left: -60px;
  }
}

.services .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
  justify-items: center;
  align-items: center;
}

@media(max-width:1000px) {
  .services .cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .services .container .cards-container .card {
    margin-bottom: 20px;
  }
}

@media(max-width:450px) {
  .services .cards-container {
    grid-template-columns: 1fr;
  }
}


.services .container .cards-container .card {
  width: 200px;
  height: 360px;
  border: 1px solid #dddddd;
  padding: 2px;
}

.services .container .cards-container .card img {
  width: 195px;
  height: 250px;

}

.services .container .cards-container .card h3 {
  margin: 10px;
}

.services .container .cards-container .card p {
  margin: 10px;
  color: #333333;
}

.services .container .cards-container .card i {
  margin: 5px;
  font-size: 12px;
  color: #337ab7;
}

.services .container .cards-container .card i:first-of-type {
  margin-left: 10px;
}

@media(max-width:260px) {
  .services .container .cards-container .card {
    width: 170px;
  }

  .services .container .cards-container .card img {
    width: 165px;
  }
}


/* sevices patients */
.services .patients {
  background-color: #eeeeee;


}

.patients .feedback-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  margin: auto;
}

@media(max-width:1200px) {
  .patients .feedback-holder {
    grid-template-columns: 1fr;
  }
}

.patients .feedback {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.services .patients .feedback .person {
  display: flex;
}

.patients .feedback .text {
  width: 340px;
  height: 150px;
  background-color: white;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 4px #aaa;
}

.services .container {
  margin-top: -10px;
  margin-bottom: -10px;
}

.feedback-holder {
  position: relative;
  bottom: 60px;
}

.patients .feedback .text::before {
  content: "";
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  position: absolute;
  left: 75px;
  bottom: -25px;

}

.patients .feedback .text p {
  color: #999999;
  margin: 40px 10px;

  line-height: 20px;
}

.patients .feedback .person {
  margin-top: 20px;
}

.patients .feedback .person p {
  margin: 10px;
  font-size: 25px;
}

.patients .feedback .person p span {
  font-weight: bold;
}

@media(max-width:420px) {
  .patients .feedback .text {
    width: 240px;
    height: 200px;
  }

}

@media(max-width:315px) {
  .patients .feedback .text {
    width: 180px;
    height: 250px;
  }
}

@media(max-width:250px) {
  .patients .feedback .text {
    width: 140px;
    height: 290px;
  }
}

/* end services  */

/* strart about */

.about .container {
  min-height: 250px;
  color: white;
  background-color: #29302e;
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 1fr 1.5fr;
  width: auto;

}

.about .container p {
  max-width: 600px;
  margin: 20px;
  color: #999999;
  position: relative;
}

.about .container p span {
  color: var(--secondary-color);
  position: absolute;
  right: 0;
  margin: 2px;
}

.about .container h1 {
  margin: 20px;
  font-weight: 500;
  font-size: 30px;

}

@media(max-width: 500px) {
  .about .container {
    grid-template-columns: 1fr;
  }

}

/* end about  */
/* start contact us  */

.contact h1 {
  font-weight: 100;
}

.contact .orange {
  padding-left: 10px;
}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: calc(20px + 7vw);
  align-items: center;
}

.contact .container .contact-info {
  flex-basis: 40vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #999999;
  position: relative;
}

.contact .container .contact-info p {
  font-size: 20px;
}

.contact .container .contact-info i {
  font-size: 35px;
  position: relative;
  bottom: 22px;
  margin-top: 20px;
}

.contact .container .contact-info h1 {
  color: black;
  font-weight: 100;
  margin-left: 10px;
}

.contact .container .contact-form input {
  width: 40vw;
  height: 40px;
  margin: 10px;
  border: 1px solid #cccccc;
}

.contact .container .contact-form textarea {
  width: 40vw;
  margin: 10px;
  border: 1px solid #cccccc;
}

.contact .container .contact-form input.submit {
  width: calc(70px + 10vw);
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.contact .container {
  width: fit-content;
  margin: auto;
}

@media(max-width:768px) {
  .contact .container {
    grid-template-columns: 1fr;
  }

  .contact .container .contact-form input {
    width: 80vw;
    margin: 10px auto;
  }

  .contact .container .contact-form textarea {
    width: 80vw;
    margin: 10px auto;
  }
}

.contact .container .contact-info .contact-method {
  display: flex;
  gap: 20px;
}

@media(max-width:315px) {
  .contact .container .contact-info p {
    font-size: 15px;
  }

  .contact .container .contact-info .contact-method {
    gap: 5px;
  }
}

/* end contact us  */

/* start footer  */
.footer {
  min-height: 250px;
  color: white;
  background-color: var(--main-color);
}

.footer .container {

  display: grid;
  grid-template-columns: 1.7fr 1fr 1.4fr;
  gap: calc(20px + 5vw);
  width: auto;

}

.footer .container .about-us p {
  margin-top: 20px;
  font-size: 14px;
}

@media(max-width:768px) {
  .footer .container {
    grid-template-columns: 1fr;
  }

  .footer .container .about-us p {
    margin: 20px auto
  }
}

.footer .container .quick-links a,
.footer .container .quick-links li {
  text-decoration: none;
  margin: 10px auto;
  color: white;
  font-size: 14px;
}

.footer .container .quick-links ul {
  list-style: inside;
  margin: 20px;
}

.footer .container .follow-us .fa-square-facebook {
  font-size: 40px;
  color: #3498db;
  position: relative;


}

.footer .container .follow-us .google {
  font-size: 40px;
  color: #e74c3c;
}

.footer .container .follow-us .linkedin {
  font-size: 40px;
  color: #2c3e50;
}

.footer .container .follow-us .twitter {
  font-size: 40px;
  color: #3498db;

}

.footer .social-media-icons {
  margin: 20px auto;
}

.footer hr {
  width: calc(100vw - 100px);
  margin: auto;
}

.copy-right-holder {
  width: 70px;
  margin: auto;
}

.copy-right {
  display: inline-block;
  margin: 20px auto;

}